SUPABASE_URL=https://wgftmijacdghoturezdg.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnZnRtaWphY2RnaG90dXJlemRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MzE5OTcsImV4cCI6MjA5ODEwNzk5N30.NkJZ6JozLzHU4qPHngeKQ9bp72Hl-RdI8kFALApPVgg
